{% extends 'layouts/base.html'%}

{% block body %}
    <h1>[NIEVRE HABITAT]</h1>
    
    <a href="{% url 'sls' %}"> <input class= "buttonMenu" type="button" value="Enquêtes SLS"></a>
    <br><br>
    <a href="{% url 'quittance' %}"> <input class= "buttonMenu" type="button" value="Quittances"></a>
    <br><br>
    <a href="{% url 'regularisation' %}"> <input class= "buttonMenu" type="button" value="Régularisations"></a>
    <br><br>
    <a href="{% url 'relance' %}"> <input class= "buttonMenu" type="button" value="Relances"></a>
{% endblock body%}